* {
  background-color: #f5f6fa;
  font-family: "Open Sans", sans-serif;
}

.App {
  text-align: center;
}

.container {
  margin: 1rem;
  padding-bottom: 2rem;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Life Savers", sans-serif;
  color: #00b894;
}

.app-title {
  font-size: 4rem;
}

.image-container {
  margin: 2rem;
}

img {
  border: 10px solid #dfe6e9;
  border-radius: 5px;
}
